* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 2000px;
}

nav {
  background-color: lightblue;
  height: 90px;
  /* messing with sticky navbar effect to keep navbar on-screen while scrolling. */
  /* position: sticky;
  top: 0; */
}

.dojonav {
  height: 90px;
  width: 762px;
  margin: 0% auto;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  color: white;
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
}

li {
  padding: 7px 0px;
  cursor: pointer;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

.subnav {
  height: 100px;
  width: 762px;
  margin: 0% auto;
  background-color: white;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 376px;
  width: 762px;
  margin: 0% auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* background-color: gray; */
}

.show-temp {
  gap: 20px;
  display: flex;
  align-items: center;
}

select {
  padding: 8px;
  cursor: pointer;
}

section {
  height: 376px;
  width: 178px;
  background-color: rgb(238, 238, 238);
}

section p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.card-head-text {
  font-size: 25px;
  font-weight: bold;
}

.temp-card-values {
  display: flex;
  justify-content: space-evenly;
}

.weather-icons {
  margin: 0% auto;
  display: block;
  border-radius: 50%;
}

#cookies {
  height: 130px;
  width: 762px;
  margin: 0% auto;
  margin-top: 20px;
  border-style: solid;
  border-width: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  background-color: rgb(238, 238, 238);
  position: fixed;
  left: 250px;
}

button {
  font-size: 16px;
  padding: 5px 25px;
  color: white;
  background-color: rgb(27, 124, 202);
  border-style: solid;
  box-shadow: 4px 4px 0 black;
  margin-right: 20px;
  display: block;
}

.cookies-and-text {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

#cookies-head-txt {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}